link(rel='stylesheet', href='/stylesheets/vendor/metronic/pages/login.css')
link(rel='stylesheet', href='/stylesheets/vendor/bootstrap-switch/bootstrap-switch-metro.css')

.content-padded(ng-cloak)
  .row-padded
    form.login-form(ng-submit='login()')
      .form-body
        h3.form-title Login to your account
        .alert.alert-danger.display-hide
          button.close(data-close='alert')
          span {{error}}
        .form-group
          .input-icon
            i.fa.fa-user
            input.form-control.placeholder-no-fix(type='text', ng-model='user.username', placeholder='Username')
        .form-group
          .input-icon
            i.fa.fa-lock
            input.form-control(type='password', ng-model='user.password', placeholder='Password')
        .form-actions
          .form-group
            .make-switch
              input.toggle(type='checkbox', checked, ng-model='user.rememberme')
            span.pad-left Remember Me
          button.btn.green(type='submit')
            span Login
            i.pad-left.fa.fa-arrow-right-o
