@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome/fontawesome-webfont.eot?v=3.2.1');
  src: url('/fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('/fonts/fontawesome/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('/fonts/fontawesome/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('/fonts/fontawesome/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}

body > .container
  padding-left 10px
  padding-right 10px

.no-margin
  margin-top 0px
  margin-bottom 0px
  margin-left 0px
  margin-right 0px

.pad-left
  padding-left 5px

.no.top.padding
  padding-top 0

.move.up
  margin-top -0.5em

.move.up.more
  margin-top -1em

.icon.no-float
  clear both

.full-name
  text-transform capitalize

.ui.comments .comment .avatar i {
  display: block;
  margin: 0em auto;
  width: 3em;
  height: 3em;
  border-radius: 500px;
}

/*--- Orange ---*/
.ui.orange.labels .label,
.ui.orange.label {
  background-color: #FFA300 !important;
  border-color: #FFA300 !important;
  color: #FFFFFF !important;
}
.ui.labels .orange.label:before,
.ui.orange.labels .label:before,
.ui.orange.label:before {
  background-color: #FFA300 !important;
}
/* Corner */
.ui.orange.corner.label,
.ui.orange.corner.label:hover {
  background-color: transparent !important;
}
/* Hover */
a.ui.orange.labels .label:hover,
a.ui.orange.label:hover {
  background-color: #DE3859 !important;
  border-color: #DE3859 !important;
  color: #FFFFFF !important;
}
.ui.labels a.orange.label:hover:before,
.ui.orange.labels a.label:hover:before,
a.ui.orange.label:hover:before {
  background-color: #DE3859 !important;
}

/*--------------------
        Threaded
---------------------*/
.ui.threaded.comments .comment .comments {
  margin-left: 2em !important;
  padding-left: 2em !important;
  -webkit-box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.1);
}

@media print {
  .page-break { display: block; page-break-before: always; }
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}