.content-padded(ng-cloak)
  nav.breadcrumbs(ng-cloak)
    li
      a(href='/') Home
    li.current {{course.name}}
  .large-12.columns
    .row
      h2 {{course.full_name}}
        small.pad-left {{course.description}}
      hr
    .row
      .large-6.columns
        .row-padded
          h4 Lessons
          hr
          table(width='100%', ng-cloak)
            thead
              tr
                th Week
                th Lesson
                th Assignments Due
            tfoot
              tr
                td(colspan='3')
                  a.button.tiny.round(href='#', ng-show='isInstructor')
                    i.fa.fa-plus-square
                    span.pad-left Add
            tbody
              tr(ng-repeat='lesson in course.lessons')
                td
                  a(href='/Course/{{course.id}}/Lesson/{{lesson.id}}')
                    span.label.round {{lesson.week_no}}
                td
                  a(href='/Course/{{course.id}}/Lesson/{{lesson.id}}') {{lesson.name}}
                td
                  a(href='/Course/{{course.id}}/Lesson/{{lesson.id}}')
                    span.label.round.secondary {{lesson.assignments.length}}
          hr
        .row-padded
          h3(ng-show='isInstructor') Grade Administration
          h4
            a(href='/Course/{{course.id}}/grades', ng-hide='isInstructor') View Grades
            a(href='/Course/{{course.id}}/grades', ng-show='isInstructor') View Student Grades
          hr
      .large-6.columns(ng-cloak)
        .row-padded(ng-if='course.syllabus.name')
          a.button.tiny.round(href='/Course/{{course.id}}/Syllabus/edit', ng-show='isInstructor')
            i.fa.fa-edit
            span.pad-left Edit
          h4 {{course.syllabus.name}}
            small.pad-left {{course.syllabus.description}}
          hr
          p(ng-show='course.syllabus.content', btf-markdown='course.syllabus.content')
        .row-padded(ng-if='!course.syllabus.name')
          h5.subheader Loading syllabus data
