.content-padded
  .large-12.columns
    .row
      h2 {{course.full_name}}
      h4.subheader {{course.description}}
    .row
      .large-6.columns
        .row-padded
          h3 Syllabus
          table(width='100%')
            thead
              tr
                th Week
                th Lesson
                th Assignments Due
            tfoot
              tr
                td(colspan='3')
                  a.button.tiny.round(href='#')
                    i.fa.fa-plus-square
                    span.pad-left Add
            tbody
              tr(ng-repeat='lesson in course.lessons')
                td {{lesson.week_no}}
                td {{lesson.name}}
                td {{lesson.assignments.length}}
      .large-6.columns
        .row
          h4.subheader {{course.syllabus.name}}
          h6 {{course.syllabus.description}}
          p(btf-markdown='course.syllabus.content')
