//- append stylesheets
//-   style.
//-     .timeline:before {
//-       left: 10%;
//-     }

//-     .timeline > li .timeline-time {
//-       width: 5%;
//-     }

//-     .timeline > li .timeline-icon {
//-       left: 10%;
//-     }

//-     .timeline > li .timeline-body {
//-       margin-left: 15%;
//-     }

.content-padded(ng-cloak)
  .row-padded
    include course-breadcrumb
  .row-padded
    .col-md-11(style='padding-left: 0px;')
      h2.page-title {{course.full_name}}
        small.pad-left {{course.description}}
    .col-md-1(ng-show='isInstructor')
      .btn-group.pull-right
        button.btn.blue.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
          i.fa.fa-edit
          span.pad-left Edit
          i.pad-left.fa.fa-caret-down
        ul.dropdown-menu(role='menu')
          li
            a(href='/course/view/{{course.id}}/syllabus/edit/{{syllabus.id}}')
              i.fa.fa-edit
              span.pad-left Edit Syllabus
          li
            a(href='#sections')
              i.fa.fa-group
              span.pad-left View Sections
          li.divider(ng-if='lessons.length > 0')
          li
            a(href='/course/view/{{course.id}}/lesson/add/new')
              i.fa.fa-plus
              span.pad-left Add Lesson
          li
            a(href='/course/view/{{course.id}}/forum/add/new')
              i.fa.fa-plus
              span.pad-left Add Forum
          li.divider(ng-if='lessons.length > 0')
          li(ng-repeat='lesson in lessons')
            a(href='/course/view/{{course.id}}/lesson/edit/{{lesson.id}}')
              i.fa.fa-book
              span.pad-left Edit lesson
              i.pad-left.fa.fa-angle-right
              span.pad-left {{lesson.name}}
  .row
  .row-padded
    hr(style='margin-bottom: 5px;')
  .row-padded
    ul.timeline
      li.timeline-blue(ng-repeat='lesson in lessons')
        .timeline-time
          span.date Week
          span.time {{lesson.week_no}}
        .timeline-icon
          i.fa.fa-file-text
        .timeline-body
          a(href='/course/view/{{course.id}}/lesson/view/{{lesson.id}}', style='color: #fff;')
            h2 {{lesson.name}}
          .timeline-content {{lesson.description}}
          .timeline-footer
            a.nav-link.pull-right(href='/course/view/{{course.id}}/lesson/view/{{lesson.id}}')
              span View lesson
              i.pad-left.fa.fa-arrow-circle-o-right
            a.nav-link.pull-left(href='/course/view/{{course.id}}/lesson/edit/{{lesson.id}}', ng-if='isInstructor')
              i.fa.fa-edit
              span.pad-left Edit Lesson

  .row-padded
    hr(style='margin-top: 5px; margin-bottom: 5px;')
  .row.padded
    .col-md-12
      h4
        i.fa.fa-comments
        span.pad-left Forums:
        span.pad-left
        span.pad-left(ng-show='course.forums.length == 0')
          em None
        span.pad-left(ng-repeat='forum in forums')
          a.btn.green.btn-sm(href='/course/view/{{course.id}}/forum/view/{{forum.id}}')
            i.fa.fa-comments-o
            span.pad-left {{forum.name}}
  .row-padded
    hr(style='margin-top: 5px; margin-bottom: 5px;')
    .col-md-12(ng-cloak)
      .row(ng-if='syllabus.name')
        h2 {{syllabus.name}}
          small.pad-left {{syllabus.description}}
        blockquote
          p(ng-show='syllabus.content', btf-markdown='syllabus.content')
      .row(ng-if='!syllabus.name')
        h5.subheader Loading syllabus data
  .row-padded(ng-if='isInstructor')
    hr(style='margin-bottom: 5px;')
    h2 Sections:
      a#sections
    ul.nav.nav-pills
      li(ng-class='{active: section == null}')
        a(href='/course/view/{{course.id}}') All
      li(ng-repeat='s in sections', ng-class='{active: section.id == s.id}')
        a(href='/course/view/{{course.id}}/section/view/{{s.id}}') {{s.section_no}}
    .col-md-8
      table.table
        thead
          tr
            th(colspan='2')
              h4
                i.subheader.fa.fa-user
                span.pad-left Students
        tbody
          tr(ng-if='!students.length > 0')
            td(colspan='2')
              em No students enrolled
          tr(ng-repeat='student in students')
            td
              a(href='#') {{student.first_name}} {{student.last_name}}
            td
              a.btn.blue.btn-sm(href='mailto: {{student.email}}')
                i.fa.fa-envelope
              span.pad-left
              a.btn.blue.btn-sm(href='#')
                i.fa.fa-info
    .col-md-4
      h4
        i.subheader.fa.fa-group
        span.pad-left Teams
      ul.side-nav
        li(ng-if='!teams.length > 0')
          em None
  .row
