append stylesheets
  link(rel='stylesheet', href='/stylesheets/vendor/dropzone/dropzone.css')

.content-padded(ng-cloak)
  .row-padded
    include ../lesson-breadcrumb
      append breadcrumbs
        li
          i.fa.fa-angle-right
          a(href='javascript:;') Week {{lesson.week_no}} Assignment: {{assignment.name}}
  .row-padded
    .col-md-12
      .row
        .col-md-11(style='padding-left: 0px;')
          h2.page-title Week {{lesson.week_no}} Assignment: {{assignment.name}}
            small.pad-left {{assignment.description}}
          hr(style='margin-bottom: 5px;')
        .col-md-1(ng-show='isInstructor')
          .btn-group.pull-right
            button.btn.blue.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
              i.fa.fa-edit
              span.pad-left Edit
              i.pad-left.fa.fa-caret-down
            ul.dropdown-menu(role='menu')
              li
                a(href='/course/view/{{course.id}}/lesson/view/{{lesson.id}}/assignment/edit/{{assignment.id}}')
                  i.fa.fa-edit
                  span.pad-left Edit Assignment
      .row
        p(ng-show='assignment.content', btf-markdown='assignment.content', ng-cloak)
      .row
        h3 Submit Assignment
        form(action='https://s3-bucket.s3.amazonaws.com/', class='dropzone', id='dropzone1')
          input(type='hidden', name='key', value='uploads/${filename}')
          input(type='hidden', name='AWSAccessKeyId', value='{{aws.accessKeyId}}')
          input(type='hidden', name='acl', value='private')
          //- input(type='hidden', name='success_action_redirect', value='')
          //- input(type='hidden', name='policy', value='')
          //- input(type='hidden', name='signature', value='')
      .row
        h4 Your Submissions
        li
          i(ng-repeat='submission in submissions') {{submission.name}}, submitted {{submission.creation_date | amCalendar}}

