.large-12.columns
  h1.ui.header.dividing Welcome to ArchAngel Mobile
    span.pad-left(ng-if='isMobile')
      i.fa.fa-mobile
  .row
    ul.list
      li(ng-repeat='course in courses')
        a(href='/Course/{{course.id}}')
          span {{course.name}}
          span.chevron
          span.count 2
