.row
  .col-md-12
    h3.page-title Welcome to ArchAngel
.row
  .col-md-12
    .row
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        .dashboard-stat.blue
          .visual
            i.fa.fa-paste
          .details
            .number {{courses.length}}
            .desc Courses
          a.more(href='#')
            span View more
            i.fa.fa-arrow-circle-o-right
    .row
      .col-md-6.col-sm-6
        .portlet.box.green.tasks-widget
          .portlet-title
            .caption
              i.fa.fa-check
              span.pad-left Tasks
          .portlet-body
            .task-content
              .scroller(style='height: 305px', data-always-visible='1', data-rail-visible='1')
                u.task-list
                  li
                    .task-checkbox
                      input.liChild(type='checkbox')
                    .task-title
                      span.task-title-sp Present 2013 Year IPO Statistics at board meeting
                      span.label.label-sm.label-success Company
                      span.task-bell
                        i.fa.fa-bell-o
    .row
      ul.list-group
        li.list-group-item(ng-repeat='user in users')
          span {{user.username}} {{user.email}}
