.large-4.columns.hide-for-small
  ul.side-nav
    li
      h3.subheader
        i.fa.fa-clock-o
        span.pad-left Upcoming
    li.divider
    li(ng-repeat='course in courses')
      a.item(href='/course/view/{{course.id}}')
        span.label.round(ng-class="{alert: course.id > 1}") 2
        span.pad-left {{course.name}}
        i.fa.fa-arrow-right.pad-left
        span.pad-left Week 2
    li(ng-show='upcomingAssignments.length > 0')
      a.item(href='#')
        span.label.round.alert {{upcomingAssignments.length}}
        span.pad-left Assignments due soon
.large-8.columns
  h1.ui.header.dividing Welcome to ArchAngel
    span.pad-left(ng-if='isMobile')
      i.fa.fa-mobile
  .row
    ul.hide-for-small
      li(ng-repeat='user in users')
        {{user.username}} {{user.email}}
  .row.show-for-small
    ul.list
      li(ng-repeat='course in courses')
        a(href='/course/view/{{course.id}}')
          span {{course.name}}
          span.chevron
          span.count 2
