.content-padded(ng-cloak)
  .large-12.columns
    .row
      h2 {{course.name}}: Section {{section}} Grades
      hr
    .row
      dl.sub-nav
        dt
          i.fa.fa-book
          span.pad-left Grades:
        dd(ng-repeat='grade in grades')
    .row
      .large-11.large-offset-1.columns
        p(ng-show='lesson.content', btf-markdown='lesson.content', ng-cloak)
    .row
      h4.subheader
        i.fa.fa-book
        span.pad-left Assignments
      hr
      .large-11.large-offset-1.columns
        .row(ng-repeat='assignment in lesson.assignments')
          h5 {{lesson.assignments.indexOf(assignment)+1}}) {{assignment.name}}
          p This assignment is worth
            span.pad-left
            span.label.round {{assignment.points}}
            span.pad-left points and is due on {{assignment.due_date}}
