extends layout

append content
  .page-sidebar.navbar-collapse.collapse
    ul.page-sidebar-menu(ng-controller='SidebarController')
      li
        .sidebar-toggler.hidden-phone
      li
        form.sidebar-search
          .form-container
            .input-box
              a.remove(href='javascript:;')
              input(type='text', placeholder='Search...')
              input.submit(type='button', value=' ')
      li.start(ng-class='{active: !routeParams.resource}')
        a(href='/')
          i.fa.fa-home
          span.pad-left.title ArchAngel
      li(ng-class='{active: routeParams.resource == "course" || routeParams.parentResource == "course"}')
        a(href='javascript:;')
          i.fa.fa-paste
          span.pad-left.title Courses
          span.selected(ng-if='routeParams.resource == "course" || routeParams.parentResource == "course"')
          span.arrow(ng-class='{open: routeParams.resource == "course" || routeParams.parentResource == "course"}')
        ul.sub-menu
          li(ng-repeat='course in courses', ng-class='{active: (routeParams.resource == "course" && routeParams.id == course.id) || (routeParams.parentResource == "course" && routeParams.parentId == course.id) }')
            a(href='/course/view/{{course.id}}')
              //- span.label.round(ng-class="{alert: course.id > 1}") {{course.upcoming.length}}
              span.pad-left {{course.name}}
              i.fa.fa-arrow-right.pad-left
              span.pad-left Week {{moment().diff(moment(course.start_date), 'weeks')}}
      li(ng-if='routeParams.resource == "course"')
        a(href='javascript:;')
          i.fa.fa-comment
          span.pad-left.title Forums
          span.selected(ng-if='routeParams.resource == "cForum"')
          span.arrow(ng-class='{open: routeParams.resource == "cForum"}')
        ul.sub-menu
          li
            a(href='1/cForum/view/1')
              span.pad-left General
  .page-content
    .ng-view
