extends layout

append content
  .page-sidebar.navbar-collapse.collapse
    ul.page-sidebar-menu(ng-controller='SidebarController')
      li
        .sidebar-toggler.hidden-phone
      li
        form.sidebar-search
          .form-container
            .input-box
              a.remove(href='javascript:;')
              input(type='text', placeholder='Search...')
              input.submit(type='button', value=' ')
      li.start(ng-class='{active: routeParams.resources == null}')
        a(href='/')
          i.fa.fa-home
          span.pad-left.title ArchAngel
          span.selected(ng-if='routeParams.resources == null')
      li(ng-class='{active: courseParams != null}')
        a(href='javascript:;')
          i.fa.fa-paste
          span.pad-left.title Courses
          span.selected(ng-if='courseParams != null')
          span.arrow(ng-class='{open: courseParams != null}')
          span.badge.badge-default {{courses.length}}
        ul.sub-menu
          li(ng-repeat='course in courses', ng-class='{active: (courseParams != null && courseParams.id == course.id) }')
            a(href='/course/view/{{course.id}}')
              //- span.label.round(ng-class="{alert: course.id > 1}") {{course.upcoming.length}}
              i.fa.fa-book
              span.pad-left {{course.name}}
              i.fa.fa-arrow-right.pad-left
              span.pad-left Week {{moment().diff(moment(course.start_date), 'weeks')}}
              span.arrow(ng-class='{open: courseParams != null}')
              span.selected(ng-if='courseParams != null')
            ul.sub-menu
              li(ng-class='{active: (courseParams != null && courseParams.id == course.id && lessonParams == null && forumParams == null) }')
                a(href='/course/view/{{course.id}}')
                  i.fa.fa-file-text-o
                  span.pad-left Syllabus
                  span.selected(ng-if='courseParams != null && courseParams.id == course.id && lessonParams == null && forumParams == null')
                    i.pull-right.fa.fa-chevron-circle-right
              li(ng-repeat='lesson in course.lessons',ng-class='{active: (lessonParams != null && lessonParams.id == lesson)}')
                a(href='/course/view/{{course.id}}/lesson/view/{{lesson}}')
                  i.fa.fa-pencil
                  span.pad-left Week {{lessons[lesson].week_no}}
                  span.selected(ng-if='lessonParams != null && lessonParams.id == lesson')
                    i.pull-right.fa.fa-chevron-circle-right
              li(ng-repeat='forum in course.forums',ng-class='{active: (forumParams != null && forumParams.id == forum)}')
                a(href='/course/view/{{course.id}}/forum/view/{{forum}}')
                  i.fa.fa-comments-o
                  span.pad-left {{forums[forum].name}}
                  span.selected(ng-if='forumParams != null && forumParams.id == forum')
                    i.pull-right.fa.fa-chevron-circle-right
      li
        a(href='/course/view/{{course.id}}/team/view/all')
          i.fa.fa-group
          span.pad-left Teams
      li
        a(href='/course/view/{{course.id}}')
          i.fa.fa-book
          span.pad-left Grades

  .page-content
    .growl(style='z-index: 9999;', growl)
    #main-content
      .ng-view
