extends layout

append navigation-items
  ul.right
    li.divider
    li
      a.item(href='/tests')
        i.fa.fa-check-square-o
        span.pad-left Unit Tests Report
    li.has-dropdown
      a(href='#') Admin
      ul.dropdown
        li
          a(href='/Students')
            i.fa.fa-group
            span.pad-left Students
    li
      a(href='/login')
        i.fa.fa-sign-in
        span.pad-left Login
  ul.left
    li.divider
    li.has-dropdown
      a(href='#')
        span Courses
        //- i.pad-left.icon-caret-down
        span.pad-left
        span.round.label {{courses.length}}
      ul.dropdown
        li(ng-repeat='course in courses')
          a(href='/Course/{{course.id}}')
            i.fa.fa-clock-o.alert.label.round
            span.pad-left {{course.name}}

append content
  .row
    .ng-view
