extends layout

append navigation-items
  ul.right
    li.divider
    li
      a.item(href='/tests')
        i.icon-check-sign
        span.pad-left Unit Tests Report

  ul.left
    li.divider
    li.has-dropdown
      a(href='#')
        span Courses
        //- i.pad-left.icon-caret-down
        span.pad-left
        span.round.label {{courses.length}}
      ul.dropdown
        li(ng-repeat='course in courses')
          a(href='#')
            i.icon-time.alert.label.round
            span.pad-left {{course.name}}

append content
  .row
    .large-4.columns.hide-for-small
      ul.side-nav
        li
          h3.subheader
            i.icon-time
            span.pad-left Upcoming
        li.divider
        li(ng-repeat='course in courses')
          a.item
            span.label.round(ng-class="{alert: course.id > 1}") 2
            span.pad-left {{course.name}}
            i.icon-arrow-right.pad-left
            span.pad-left Week 2
    .large-8.columns
      h1.ui.header.dividing Welcome to ArchAngel
      .ui.row
        ul.hide-for-small
          li(ng-repeat='user in users')
            {{user.username}} {{user.email}}
      .ui.row.show-for-small
        ul.list
          li
            a(href='#')
              span List Item 1
              span.chevron
              span.count 2

