extends layout

append navigation-items
  ul.right
    li.divider
    li
      a.item(href='/tests')
        i.icon-check-sign
        span.pad-left Unit Tests Report

  ul.left
    li.divider
    li.has-dropdown
      a(href='#')
        span Courses
        //- i.pad-left.icon-caret-down
        span.pad-left
        span.round.label {{courses.length}}
      ul.dropdown
        li(ng-repeat='course in courses')
          a(href='/Course/{{course.id}}')
            i.icon-time.alert.label.round
            span.pad-left {{course.name}}

append content
  .row
    .ng-view
