append navigation
  .contain-to-grid.sticky
    nav.top-bar.hide-for-small(data-options='is_hover:false')
      ul.title-area
        li.name
          h1
            a(href='/')
              img(src='http://webstyleguide.psu.edu/img/white-border10.png')
              span ArchAngel
      section.top-bar-section
        ul.right
          li
            if typeof(user) !== 'undefined'
              a.item(href='#')
                span
                    img.ui.avatar.image.move.up.more(src=user.profile.picture)
                span.full-name.pad-left #{user.firstName} #{user.lastName}
              a.item(href='/logout')
                i.fa.fa-power-off
                  span.pad-left Log out
      section.top-bar-section
        block navigation-items
  nav.bar-tab.show-for-small
    ul.tab-inner
      li.tab-item.active
        a(href='/')
          i.tab-icon.fa.fa-home
          .tab-label Home
      li.tab-item
        a(href='#')
          i.tab-icon.fa.fa-paste
          .tab-label Courses
      li.tab-item
        a(href='#')
          i.tab-icon.fa.fa-comments-o
          .tab-label Messages
      li.tab-item
        a(href='#')
          i.tab-icon.fa.fa-calendar
          .tab-label Events
      li.tab-item
        a(href='#')
          i.tab-icon.fa.fa-ellipsis-horizontal
          .tab-label More
      li.tab-item
        a(href='#')
          i.tab-icon.fa.fa-gears
          .tab-label Settings
