append navigation
  .header.navbar.navbar-inverse.navbar-fixed-top(ng-controller='NavbarController')
    .header-inner
      a.navbar-brand(href='/')
        img.img-responsive(src='http://webstyleguide.psu.edu/img/white-border10.png', style='max-height:50px; margin-top: -18px; display: inline; vertical-align: top;')
        span.pad-left ArchAngel
      a.navbar-toggle(href='javascript:;', data-toggle='collapse', data-target='.navbar-collapse')
        img(src='/stylesheets/vendor/img/menu-toggler.png')
      ul.nav.navbar-nav.pull-right
        li(ng-if='!user.authenticated')
          a(href='/login')
            i.fa.fa-sign-in
            span.pad-left Login
        li.dropdown.user(ng-if='user.authenticated')
          a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
            i.fa.fa-user
            span.pad-left.username {{user.data.first_name}} {{user.data.last_name}}
            i.fa.fa-caret-down
          ul.dropdown-menu
            li
              a(href='#')
                i.fa.fa-user
                span.pad-left My Profile
            li
              a(href='#')
                i.fa.fa-calendar
                span.pad-left My Calendar
            li
              a(href='#')
                i.fa.fa-comment
                span.pad-left My Messages
            li
              a(href='#')
                i.fa.fa-check-square
                span.pad-left My Tasks
            li.divider
            li
              a(href='#',ng-click='user.logout()')
                i.fa.fa-sign-out
                span.pad-left Log Out
        block navigation-items
