.content-padded(ng-cloak)
  .row-padded
    include ../course-breadcrumb
      append breadcrumbs
        li
          a(href='javascript:;') {{action}} Teams
  .row-padded
    h3.page-title Teams:
  .row
  .row(ng-repeat='course in courses')
    .col-md-12
      h3
        a(href='/course/view/{{course.id}}') {{course.name}}
      .row-padded(ng-if='isInstructorFor[course.id]')
        button.btn.blue.btn-sm(ng-click='createTeamAndReload(course)')
          i.fa.fa-plus
          span.pad-left Add Team

        table.table
          thead
            tr
              th Section
              th Team
              th Students
              th
          tbody
            tr(ng-if='!course_teams[course.id].length > 0')
              td(colspan='4')
                em No teams have been created
            tr(ng-repeat='row in teamReport[course.id]')
              td
                span(ng-if='$first') {{row.section.section_no}}
              td {{row.team.name}}
              td
                span.badge.badge-info {{row.members.length}}
                span.pad-left(ng-repeat='member in row.members')
                  a(href='#', onbeforesave='updateUserTeam($data, course.id, member.id)', editable-select='teams[row.team.id]', e-ng-options='t.name for t in course_teams[course.id]')
                    span {{member.first_name}} {{member.last_name}}
                  span(ng-if='!$last') ,

              td
                span.pull-right
                  button.btn.btn-sm.dark(ng-click='deleteTeamAndReload(row.team)')
                    i.fa.fa-times
