.content-padded(ng-cloak)
  nav.breadcrumbs(ng-cloak)
    li
      a(href='/') Home
    li
      a(href='/Course/{{course.id}}') {{course.name}}
    li.current Week {{lesson.week_no}}: {{lesson.name}}
  .large-12.columns
    .row
      h2 Week {{lesson.week_no}}: {{lesson.name}}
        small.pad-left {{lesson.description}}
      hr
    .row
      dl.sub-nav
        dt
          i.fa.fa-book
          span.pad-left Assignments:
        dd(ng-repeat='assignment in lesson.assignments')
          a(href='#') {{assignment.name}}
    .row
      .large-11.large-offset-1.columns
        p(ng-show='lesson.content', btf-markdown='lesson.content', ng-cloak)
    .row
      h4.subheader
        i.fa.fa-book
        span.pad-left Assignments
      hr
      .large-11.large-offset-1.columns
        .row(ng-repeat='assignment in lesson.assignments')
          h5
            a(href='/Course/{{course.id}}/Lesson/{{lesson.id}}/assignment/{{assignment.id}}') {{lesson.assignments.indexOf(assignment)+1}}) {{assignment.name}}
          p This assignment is worth
            span.pad-left
            span.label.round {{assignment.points}}
            span.pad-left points and is due on {{assignment.due_date}}
