append stylesheets
  link(rel='stylesheet', href='/stylesheets/vendor/metronic/pages/timeline.css')

.content-padded(ng-cloak)
  .row-padded
    include ../course-breadcrumb
      append breadcrumbs
        li(ng-if='lesson != null')
          i.fa.fa-angle-right
          a(href='/course/view/{{course.id}}/lesson/view/{{lesson.id}}') Week {{lesson.week_no}}: {{lesson.name}}
        li
          i.fa.fa-angle-right
          a(href='javascript:;') {{forum.name}} Forum
  .row-padded
    .col-md-12
      .row
        .col-md-11(style='padding-left: 0px;')
          h2.page-title {{forum.name}}
            small.pad-left {{forum.description}}
          hr(style='margin-bottom: 5px;')
        .col-md-1(ng-show='isInstructor')
          .btn-group.pull-right
            button.btn.blue.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
              i.fa.fa-edit
              span.pad-left Edit
              i.pad-left.fa.fa-caret-down
            ul.dropdown-menu(role='menu')
              li(ng-if='lesson == null')
                a(href='/course/view/{{course.id}}/forum/edit/{{forum.id}}')
                  i.fa.fa-edit
                  span.pad-left Edit Forum
              li(ng-if='lesson != null')
                a(href='/course/view/{{course.id}}/lesson/view/{{lesson.id}}/forum/edit/{{forum.id}}')
                  i.fa.fa-edit
                  span.pad-left Edit Forum

