.content-padded(ng-cloak)
  .row-padded
    include ../course-breadcrumb
      append breadcrumbs
        li
          i.fa.fa-angle-right
          a(href='javascript:;') {{action}} Assignment Grade
  .row-padded
    .col-md-12
      h2.page-title {{action}} Assignment Grade

      form.form.form-horizontal
        .form-group
          label.col-sm-2.control-label Instructor Comments
          .col-sm-10
            textarea.form-control(ng-model='gradedassignmentsubmission.content', placeholder='Instructor Comments...')
        .form-group
          label.col-sm-2.control-label Attachment
          .col-sm-10
            .fileupload.fileupload-new(data-provider='fileupload')
              span.btn.default.btn-file
                span.fileupload-new
                  i.fa.fa-paperclip
                  span.pad-left Select File
                span.fileupload-exists
                  i.fa.fa-undo
                  span.pad-left Change
                input.default(type='file', ng-file-select='onFileSelect($files)')

            .well.text-center(ng-file-drop='onFileSelect($files)', ng-show='dropSupported')
              h3 Drag and Drop file here
            .well.text-center(ng-file-drop-available='dropSupported=true', ng-show='!dropSupported') HTML5 Drop file is not supported
        .form-group
          label.col-sm-2.control-label Score
          .col-sm-10
            #points
              .input-group.input-medium
                .input-group-btn.spinner-buttons
                  button.btn.blue.spinner-down(type='button')
                    i.fa.fa-minus
                input.form-control.spinner-input(type='text', ng-model='gradedassignmentsubmission.score', placeholder='Assignment score...')
                .input-group-btn
                  button.btn.blue.spinner-up(type='button')
                    i.fa.fa-plus
              span.help-block Out of {{assignment.points}}pts
                span.pad-left
                span.badge.badge-info {{gradedassignmentsubmission.score/assignment.points*100 | number:0}}%
        .form-group
          .col-sm-offset-2.col-sm-3
            button.btn.blue(ng-click='save()')
              i.fa.fa-save
                span.pad-left Save Changes
