.row-padded(ng-repeat='lesson in course_lessons[course.id]', ng-if='lesson_assignments[lesson.id] && lesson_assignments[lesson.id].length > 0')
  .col-md-11.col-md-offset-1
    h4 Week {{lesson.week_no}}: {{lesson.name}}
    a(id='lesson-{{lesson.id}}')
  .row-padded
    .col-md-11.col-md-offset-1
      .table-responsive
        table.table.table-striped
          thead
            th Grade
            th Assignment
            th Student
            th Section
            th Due Date
            th Submitted On
          tfoot
            tr(ng-repeat='assignment in lesson_assignments[lesson.id]')
              td {{averageGrade(assignment) | number:0}}%
              td {{assignment.name}}
              td Class Average
              td
              td
              td
          tbody(ng-repeat='assignment in lesson_assignments[lesson.id]')
            tr(ng-repeat='roster in course_students[course.id]')
              td
                .badge.badge-default(ng-if='!getStudentSubmission(roster.user, assignment.id)')
                  i.fa.fa-clock-o(style='margin-top: 0px;')

                a.btn.blue.btn-sm(href='/course/view/{{course.id}}/lesson/view/{{lesson.id}}/assignment/view/{{assignment.id}}/submission/view/{{getStudentSubmission(roster.user, assignment.id).id}}/grade/add/new', ng-if='getStudentSubmission(roster.user, assignment.id) != null && !grades[getStudentSubmission(roster.user, assignment.id).id]')
                  i.fa.fa-check
                  span.pad-left Grade
                a(href='/course/view/{{course.id}}/lesson/view/{{lesson.id}}/assignment/view/{{assignment.id}}/submission/view/{{getStudentSubmission(roster.user, assignment.id).id}}/grade/edit/{{grades[getStudentSubmission(roster.user, assignment.id).id].id}}', ng-if='grades[getStudentSubmission(roster.user, assignment.id).id]')
                  span.badge.badge-info {{grades[getStudentSubmission(roster.user, assignment.id).id].score/assignment.points * 100 | number:0}}%
              td
                a(href='/course/view/{{course.id}}/lesson/view/{{lesson.id}}/assignment/view/{{assignment.id}}') {{assignment.name}}
              td {{users[roster.user].last_name}}, {{users[roster.user].first_name}}
              td {{sections[roster.section].section_no}}
              td {{assignment.due_date | amCalendar}}
              td
                span(ng-if='getStudentSubmission(roster.user, assignment.id)')
                  span {{getStudentSubmission(roster.user, assignment.id).submitted_date | amCalendar}}
                  span.pad-left.pull-right
                    a.btn.btn-sm.blue(href='/course/view/{{course.id}}/lesson/view/{{lesson.id}}/assignment/view/{{assignment.id}}/submission/view/{{getStudentSubmission(roster.user, assignment.id).id}}')
                      i.fa.fa-mail-forward
                      span.pad-left View
                  //- span.pad-left(ng-if='getStudentSubmission(roster.user, assignment.id).file_path')
                  //-   a.btn.btn-sm.blue(href='{{getStudentSubmission(roster.user, assignment.id).file_path}}')
                  //-     i.fa.fa-download
