extends layout

append content
  .container
    form.form-signin(action='/', method='post')
      h2.form-signin-heading.text-muted
        i.icon-lock
        span.pad-left Please sign in
      .form-group
        input.form-control(type='text', placeholder='Access ID', autofocus=true)
      .form-group
        input.form-control(type='password', placeholder='Password')
      label.checkbox
        input(type='checkbox', value='remember-me')
        span.pad-left Remember me
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in