extends layout

append content
	.container
		.row
			.col-md-4
				.well.sidebar-nav
					h3
						small: i.icon-gears
						span.pad-left Your Crap
					ul.nav.nav-pills.nav-stacked
						li Your Courses
						li.active: a(href='/') Whatever
						each course in courses
							li
								i.icon-arrow-right
								span: a(href="/#{course}")
									span.pad-left= course


			.col-md-8
				h1 Welcome to ArchAngel

