append navigation
  .container
      .navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            a.navbar-brand(href='/')
              img(src='http://webstyleguide.psu.edu/img/twoTone-border10.png')
          .navbar-collapse.collapse
            ul.nav.navbar-nav
              li.active
                a(href='/') ArchAngel
            p.navbar-text.navbar-right You are logged in as
              i.icon-user.pad-left
              a.pad-left(href='#') Some User
            p.navbar-text.navbar-right |
            p.navbar-text.navbar-right Messages &nbsp;
              span.badge 2
